{% extends 'todolist/base.html' %}

{% block header %}
<h3>detail page</h3>
{% endblock header %}

{% block content %}
<div class='container'>
  <div class="alert alert-{{ object.priority }}" role="alert">
    <p>タイトル：{{ object.title }}</p>
    <p>内容：{{ object.memo }}</p>
    <p>期日：{{ object.duedate }}</p>
    <a href="{% url 'todoupdate' object.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集</a>
    <a href="{% url 'tododelete' object.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">削除</a>
  </div>
  <a href="{% url 'todoindex' %}">戻る</a>
</div>

{% endblock content %}
